@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.border-green {
  border-color: #83a071;
  border-radius: 4px;
  border-width: 3px;
}
